html,
body {
    background-color: #fff;
}

 header.fixed-top {
	background-color:#fff;
} 

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar {
    box-shadow:none; 
	padding:0;
}

.left {
	text-align:center;
}
.centre {
	text-align:center;
}
.right {
	text-align:center;
}

div img {
    width:100%;
}

footer.page-footer {
    bottom: 0;
    color: #999;
    background-color: #fff;
}
footer.page-footer a {
    color: #999;
}
.greyer {
    color:#000 ;
    font-weight: 500;
}

span.greyer a {
    color: #333;
    font-weight: 500;
}
/*
.elena {
	font-family: 'Merriweather', serif;
	letter-spacing: 4px;
	font-size: 30px;
	color:darkblue;
	padding-left: 60px;
} */
.elena {
	font-family: 'Cutive Mono', monospace;
/*	letter-spacing: 1px; */
	font-size: 25px;
	color:black;
	padding-left: 35px;
}

.paddingElena {
    padding-top: 14px;
}

button.navbar-toggler.ml-auto.collapsed, button.navbar-toggler.ml-auto {
    padding-left: 18px;
    padding-right:8px;
}
.ml-auto {
    margin-left: 0!important;
}

.navbar-dark .navbar-brand {
    color: #565656;
}

.footFont{
    font-size: smaller;
}
.carousel .carousel-item img {
    min-height: 100%;
    min-width: auto;
}

.grey.lighten-4 {
    background-color: #fff!important;
}
.bodyText {
	font-family: 'Roboto Condensed', sans-serif;
	color: grey;
	font-size: 12px;
}


.centrePad{
    margin: auto;
}

.anchor{
   display:block;
   height:60px; /* this is the height of the header */
   margin-top:-40px; /* this is again negative value of the height of the header 
   visibility:hidden; */
}
.adjustPad {
	padding: 14px 0px 30px 0px;;
	height : 264px;
	width:auto;
}

.padTop {
	padding-top:60px;
	}

.navbar-brand {
    margin-right: 0; 
    }

.menuText {
	font-family: 'Roboto Condensed', sans-serif;
	color: grey;
	font-size: 16px;
	font-weight:600;
}
.paragraphTop {
	padding: 50px 0 0 0;
}
 .paragraphBottom {
	padding: 25px 0 0 0;
}
/*
span.collapse-show {
    padding-left: 12px;
}
*/
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
	color: #636363;
}
body {
/*	background-color: #fff;*/
	color: #666!important;
}
.header2 {
    font-size: 20px;
    font-weight: 800;
}
ul li a {
    color: #565656;
}

/* Breadcrumbs */

.dark-font .breadcrumb-item + .breadcrumb-item::before {
    color: #000000; 
    }
.navbar .breadcrumb .breadcrumb-item.active {
    color: #5f6086; 
    }
.crumbs {
    padding-left: 20px;
    font-size: smaller;
}

.narrow-results{display:none}

.btn-primary {
background-color:#f7f7f7!important;
    color: #000!important;
}

.paddingNav {
 padding-top: 120px;
}

/* Otro collapse  */

#summary {
/*  font-size: 14px;
  line-height: 1.5;  */
}

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#summary p.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after  {
    content: '+ Read More';
}

#summary a:not(.collapsed):after {
    content: '- Read Less';
}
/* Otro collapse */

.carousel .carousel-control-prev-icon {
    background-image: url(../img/svg/arrow_left.svg);
}
.carousel .carousel-control-next-icon {
    background-image: url(../img/svg/arrow_right.svg);
}
/* Otro collapse  */


@media (min-width: 767px) { 
	.left {
	text-align:left;
	}
	.centre {
	text-align:center;
	}
	.right {
	text-align:right;
	}
	html,
	body {
	padding:0 50px;
	}
	header.fixed-top {
	padding: 0 100px;
	}
	.navbar {
	padding: .5rem 1rem;
	}
	.anchor{
	display:block;
	height:104px; /* this is the height of the header */
	margin-top:-104px; /* this is again negative value of the height of the header 
	visibility:hidden;  */
	}
	.adjustPad {
	padding: 0;
    height:inherit;
	}
	.centrePad{
    width: 60%;
	}
	.padTop {
	padding-top:104px;
	}
	.carousel .carousel-item img {
	min-height: 457px; 
	min-width: auto;
	}
    .elena {
	font-family: 'Cutive Mono', monospace;
	letter-spacing: 4px;
	font-size: 40px;
	color:black;
	padding-left: 60px;
    }
    
    
    .paddingElena {
    padding-top: inherit;
    }

    
    .ml-auto {
    margin-left: auto!important;
    }
    .navbar-brand {
    margin-right: 1rem; 
    }
    
    .footFont{
    font-size: inherit;
    }
    .crumbs {
        padding-left:50px;
        font-size: inherit;
    }
    
    .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
    }    
    
    .narrow-results{display:block}
    
    .paragraphTop {
	padding: 40px 0 0 0;
}
    
    .paragraphBottom {
	padding: 30px 0 0 0;
    }
    
    .paddingNav {
    padding-top: 160px;
    }
    
}








/* To change the next/previous icons */
/*
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: red;
}
*/
/*
.elenCar {
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-control.prev {
  margin-left: -25px;
}

.carousel-control.next {
  margin-right: -25px;
}
*/
